# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^{{ full_domain }} [NC,OR]
RewriteCond %{HTTP_HOST} ^www.{{ full_domain }} [NC]
RewriteRule ^(.*)$ http://{{ http_conf }}`.{{ top_level_domain }}/$1 [L,R=301,NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
</IfModule>
# END WordPress

<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

<IfModule mod_php7.c>
   php_value auto_prepend_file none
   php_value upload_max_filesize 512M
   php_value post_max_size 512M
   php_value max_input_time 600
   php_value max_execution_time 600
</IfModule>

php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value memory_limit 500M
php_value max_input_time 600
php_value max_execution_time 600

RedirectPermanent / http://www.{{ full_domain }}/

