---
# Handlers for security role

- name: restart ssh
  service:
    name: ssh
    state: restarted
  become: true

- name: restart fail2ban
  service:
    name: fail2ban
    state: restarted
  become: true

- name: reload ufw
  service:
    name: ufw
    state: reloaded
  become: true 